<section id="experiencia" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center fw-bold mb-5">
            Experiência
        </h2>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                
                <div class="timeline">

                    <!-- Experiência 1: Ctrl+Play -->
                    <div class="card shadow-sm border-0 mb-4 p-4">
                        <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-3">
                            <img src="assets/ctrl-logo.svg" alt="Logo UFC" width="100" height="auto" class="object-fit-contain">
                            <div>
                                <h4 class="fw-bold mb-1">Professor de Programação</h4>
                                <h6 class="text-muted mb-0">Ctrl+Play · Fortaleza, CE</h6>
                            </div>
                            <span class="badge bg-primary mt-2 mt-md-0 align-self-start align-self-md-center p-2">
                                Fev 2025 - Ago 2025
                            </span>
                        </div>
                        <p class="card-text text-secondary mb-3">
                            Ministração de aulas de tecnologia e programação para jovens, abrangendo desenvolvimento de jogos, programação web e robótica educacional.
                        </p>
                        <ul class="text-secondary small mb-3 ps-3">
                            <li>Desenvolvimento de jogos com Scratch, Godot e GameMaker.</li>
                            <li>Fundamentos de programação web utilizando HTML, CSS, Tailwind CSS e JavaScript.</li>
                            <li>Conceitos de eletrônica básica e programação de sensores com placas Arduino e Micro:bit.</li>
                        </ul>
                        <div class="d-flex flex-wrap gap-2">
                            <span class="badge bg-js">JavaScript</span>
                            <span class="badge bg-tailwind">Tailwind CSS</span>
                            <span class="badge bg-godot">Godot</span>
                            <span class="badge bg-arduino">Arduino</span>
                        </div>

                        <!-- Carrossel -->
                        <div id="ctrlplayCarousel" class="carousel slide mb-4 mt-3">
                            <div class="carousel-inner rounded shadow">

                                <div class="carousel-item active">
                                    <img src="assets/ctrlplay/aula.jpg" class="d-block w-100" alt="Aula de programação">
                                </div>

                                <div class="carousel-item">
                                    <img src="assets/ctrlplay/projetinho.jpg" class="d-block w-100" alt="Aula de robótica">
                                </div>

                                <div class="carousel-item">
                                    <img src="assets/ctrlplay/semaforo.jpg" class="d-block w-100" alt="Alunos desenvolvendo projetos">
                                </div>

                            </div>

                            <button class="carousel-control-prev"
                                type="button"
                                data-bs-target="#ctrlplayCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>

                            <button class="carousel-control-next"
                                type="button"
                                data-bs-target="#ctrlplayCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    </div>

                    <!-- Experiência 2: UFC (Bolsa / Projetos) -->
                    <div class="card shadow-sm border-0 p-4">
                
                        <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-3">
                            <img src="assets/ufc-logo.svg" alt="Logo UFC" width="45" height="45" class="object-fit-contain">
                            <div>
                                <h4 class="fw-bold mb-1">Desenvolvedor Full Stack (Bolsista)</h4>
                                <h6 class="text-muted mb-0">Universidade Federal do Ceará (UFC)</h6>
                            </div>
                            <span class="badge bg-primary mt-2 mt-md-0 align-self-start align-self-md-center p-2">
                                Abril 2026 - Presente
                            </span>
                        </div>
                        <p class="card-text text-secondary mb-3">
                            Desenvolvimento full-stack de um sistema web para o controle de estoque de reagentes e o gerenciamento de resíduos químicos em laboratórios da universidade no projeto LabStocker.
                        </p>
                        <div class="d-flex flex-wrap gap-2">
                            <span class="badge bg-html">Html</span>
                            <span class="badge bg-js">Js</span>
                            <span class="badge bg-css">Css</span>
                            <span class="badge bg-supabase">Supabase</span>
                        </div>
                        <!-- Carrossel -->
                        <div id="labstockerCarousel" class="carousel slide mb-4 mt-3" data-bs-ride="carousel">

                            <div class="carousel-inner rounded shadow">

                                <div class="carousel-item active">
                                    <img src="assets/labstocker/estoque.png" class="d-block w-100" alt="Tela de login">
                                </div>

                                <div class="carousel-item">
                                    <img src="assets/labstocker/central.png" class="d-block w-100" alt="Dashboard">
                                </div>

                                <div class="carousel-item">
                                    <img src="assets/labstocker/solicitacoes.png" class="d-block w-100" alt="Gerenciamento de reagentes">
                                </div>

                                <div class="carousel-item">
                                    <img src="assets/labstocker/solicitacoes1.png" class="d-block w-100" alt="Gerenciamento de resíduos">
                                </div>

                            </div>

                            <button class="carousel-control-prev"
                                type="button"
                                data-bs-target="#labstockerCarousel"
                                data-bs-slide="prev">

                                <span class="carousel-control-prev-icon"></span>

                            </button>

                            <button class="carousel-control-next"
                                type="button"
                                data-bs-target="#labstockerCarousel"
                                data-bs-slide="next">

                                <span class="carousel-control-next-icon"></span>

                            </button>

                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</section>