<section id="projetos" class="py-5">

    <div class="container">

        <h2 class="text-center fw-bold mb-5">
            Projetos
        </h2>

        <div class="row g-4">

            <!-- Projeto 1 -->

            <div class="col-lg-6 col-md-6">

                <div class="card project-card h-100 shadow-sm border-0">

                    <img src="assets/bolao.png"
                        class="card-img-top"
                        alt="Bolão Esportivo">

                    <div class="card-body d-flex flex-column">

                        <h4 class="card-title">
                            Bolão Esportivo
                        </h4>

                        <p class="card-text">

                            Projeto pessoal, criado para o meu pai, sendo um Sistema Full Stack para gerenciamento de
                            bolões esportivos com ranking, palpites
                            e administração.

                        </p>

                        <div class="mb-3">

                            <span class="badge bg-react">React</span>

                            <span class="badge bg-node">Node</span>

                            <span class="badge bg-sequelize">Sequelize</span>

                            <span class="badge bg-postgres">PostgreSQL</span>

                            <span class="badge bg-typescript">Typescript</span>

                            <span class="badge bg-docker">docker</span>
                        </div>

                        <div class="mt-auto">

                            <a href="" target="_blank"
                                id="bolao-link-github-front"
                                class="btn btn-primary">

                                GitHub - Frontend

                            </a>

                            <a href="" target="_blank"
                                id="bolao-link-github-back"
                                class="btn btn-primary">

                                GitHub - Backend

                            </a>
                            
                            <a href="" target="_blank"
                                id="bolao-link-demo"
                                class="btn btn-outline-primary">

                                Demo

                            </a>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Projeto 2 -->

            <div class="col-lg-6 col-md-6">

                <div class="card project-card h-100 shadow-sm border-0">

                    <img src="assets/labstocker.png"
                        class="card-img-top"
                        alt="Gestão de Reagentes">

                    <div class="card-body d-flex flex-column">

                        <h4 class="card-title">

                            LabStocker

                        </h4>

                        <p class="card-text">

                            Sistema desenvolvido para laboratórios
                            da UFC voltado ao gerenciamento
                            de reagentes químicos.

                        </p>

                        <div class="mb-3">

                            <span class="badge bg-html">Html</span>

                            <span class="badge bg-js">Js</span>

                            <span class="badge bg-css">Css</span>

                            <span class="badge bg-supabase">Supabase</span>

                        </div>

                        <div class="mt-auto">

                            <a href="" target="_blank"
                                id="reagentes-link-github"
                                class="btn btn-primary">

                                GitHub

                            </a>

                            <a href="" target="_blank"
                                id="reagentes-link-demo"
                                class="btn btn-outline-primary">

                                Demo
                            </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>