<section id="tecnologias" class="py-5 bg-light">

    <div class="container">

        <h2 class="text-center fw-bold mb-5">

            Tecnologias

        </h2>

        <div class="row g-4">

            <div class="col-6 col-md-4 col-lg-3">
                <div class="tech-card">
                    <i class="fa-brands fa-html5"></i>
                    <h5>HTML5</h5>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <div class="tech-card">
                    <i class="fa-brands fa-css3-alt"></i>
                    <h5>CSS3</h5>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <div class="tech-card">
                    <i class="fa-brands fa-js"></i>
                    <h5>JavaScript</h5>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <div class="tech-card">
                    <i class="fa-brands fa-react"></i>
                    <h5>React</h5>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <div class="tech-card">
                    <i class="fa-brands fa-node-js"></i>
                    <h5>Node.js</h5>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <div class="tech-card">
                    <i class="fa-solid fa-database"></i>
                    <h5>PostgreSQL</h5>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <div class="tech-card">
                    <i class="fa-brands fa-git-alt"></i>
                    <h5>Git</h5>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <div class="tech-card">
                    <i class="fa-brands fa-docker"></i>
                    <h5>Docker</h5>
                </div>
            </div>

        </div>

    </div>

</section>